/* p{
    color: blue;
} */
/* p{
    color: green;
} */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#greet{
    width: 80px;
    background-color: blueviolet;
    border: 2px dashed black;
    padding: 20px;
}

.text{
    color: red;
    margin: 10px 0;
}

p,.text,#greet{

}

p:hover{
   color: white; 
}

