* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 0.5fr 3fr 0.5fr;
  grid-template-areas:
    "nav nav"
    "sidebar main"
    "footer footer";
}

.header {
  grid-area: nav;
}
.navbar {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.navbar h3 {
  color: goldenrod;
}
.navbar h3 span {
  color: red;
}

.menu {
  display: flex;
  list-style: none;
  gap: 10px;
}

ul li a {
  text-decoration: none;
}

.menu-icon {
  width: 15px;
  display: none;
  cursor: pointer;
}

.overlay,
.mob-menu {
  display: none;
}

.sidebar {
  grid-area: sidebar;
  background-color: rgb(245, 245, 239);
}
.main {
  grid-area: main;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 3fr 0.5fr;
    grid-template-areas:
      "nav"
      "sidebar"
      "main"
      "footer";
  }
  .menu {
    display: none;
  }
  .mob-menu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    pointer-events: auto; /* clickable */
  }
  a:visited{
    color: black;
  }
  .menu-icon {
    display: block;
  }
  .close-icon{
    position: absolute;
    right: 18px;
    top: 22px;
    width: 20px;
    border-radius: 10px;
    cursor: pointer;
    pointer-events: auto; /* clickable */
  }
  .overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    /* top: 0;
    left: 0; */
    inset: 0;
    opacity: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    transition: all 0.6s ease;
  }
  .mob-menu {
    height: 100vh;
    width: 70%;
    z-index: 1000;
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 50px 0;
    pointer-events: none;
    background-color: white;
    transition: all 0.6s ease-in-out;
  }

  /* .menu-icon:hover{
    transform: rotateY('90deg');
    transition: all 0.6s ease-in-out;
  } */
}

/* @supports (display : grid){

} */

/* @media (425px <= width <= 600px){

} */
